@tailwind base;
@tailwind components;
@tailwind utilities;

.no-overflow-x {
  overflow-x: hidden;
}

.no-overflow-y {
  overflow-y: hidden;
}

.bg-gray-gradient {
  background: linear-gradient(180deg, #050505 0%, #242424 100%);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px transparent;
  border-radius: 50px;
  margin: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1c1c1c;
  border-radius: 50px;
  margin: 5px;
}

.szh-menu__submenu > .szh-menu__item {
  background-color: transparent;
}

#hero-section {
  background: url('assets/landing/hero.jpg');
  background-blend-mode: normal;
  background-size: cover;
  backdrop-filter: opacity(0.5);
}